:root{
    --salmon-background: #e3e2dbff;
    --salmon-accent-1: #fa8072;

}


.bg {
    background-color: var(--salmon-background);
}
.bg::after {
    background-color: transparent;
    /*background-image: ;*/
}
