:root {
    /* accents */
    --blue-1:#0046a1;
    --blue-2:#0d65c2;
    --blue-3:#3584e4;
    --blue-4:#55a4ff;
    --blue-5:#8ec5ff;

    /* buttons */
    --red-1:#9f0000;
    --red-2:#d20000;
    --red-3:#f00;
    --red-4:#ff6d5b;
    --red-5:#ffa899;
}